* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

body {
  background-color: #111;
  overflow-x: hidden !important;
}

@font-face {
  font-family: "moon";
  src: url("../fonts/MoonBold.ttf") format("truetype");
}

@font-face {
  font-family: "content";
  src: url("../fonts/arial.ttf") format("truetype");
}

.content {
  font-family: "content" !important;
}

.moon {
  font-family: "moon";
}

.header {
  padding: 15px;
  height: 100vh;
  background: url(../images/background.jpg);
  background-size: cover;
}

.logo img {
  width: 35px;
  float: left;
}

.logo h1 {
  float: left;
  font: 20px "moon";
  margin-top: 7px;
  color: #31a7fb;
  margin-left: 5px;
}

.logo h1 span {
  color: #fba83c;
}

.navbar-menu a {
  color: #31a7fb !important;
  font: 11px "moon";
}

.search-input::placeholder {
  text-align: right;
}

.search-input-box {
  width: 100%;
  height: auto;
  margin-top: 5px;
  float: right;
}

.search-input-box button {
  text-align: right;
  color: #fff !important;
}

.search-input-box svg {
  float: right;
  font-size: 18px;
  color: #fff;
  rotate: 90deg;
  margin: 0 5px;
  margin-top: 4px;
}

.welcome {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 50px;
  bottom: 0;
  margin: auto;
}

.welcome h2 {
  text-align: center;
  font: 45px moon;
  color: white;
  line-height: 60px;
}

.welcome h2 span {
  color: #31a7fb;
}

.welcome h2 span span {
  color: #fba83c;
}

.welcome p {
  font: 10px moon;
  color: #ccc;
  text-align: center;
}

.links {
  text-align: center;
  width: 100%;
}

.links a {
  font: 10px moon;
  margin: 0 5px;
}

.links svg {
  margin-right: 5px;
}

.go-to-content {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 20px;
  right: 0;
  margin: auto;
}

.go-to-content svg {
  color: #31a7fb;
  text-shadow: 0 0 5px #31a7fb;
  font-size: 20px;
  margin: 15px auto;
  display: block;
  cursor: pointer;
}

.loading-box {
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  left: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  position: absolute;
}

.main-navbar-menu {
  height: 50px;
  margin: 10px 0;
}

.main-navbar a {
  color: #fff !important;
  font: 12px "moon";
}

.each-slide {
  position: relative;
  height: 550px !important;
}

.each-slide .slider-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-content {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0,
    rgba(12, 98, 99, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: all 0.5s ease;
}

.each-slide:hover .slider-content {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0,
    rgba(8, 76, 77, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: all 0.5s ease;
}

.slider-content h3 {
  color: aqua;
  font: 22px moon;
  padding: 0;
}

.slider-content p {
  font: 11px moon;
  color: #ccc;
}

.user-profile-slider {
  width: 50px !important;
}

.slider-user {
  float: left;
  /* margin-top: 20px; */
}

.slider-user img {
  float: left;
}

.slider-user h4 {
  float: left;
  margin-left: 10px;
  color: aqua;
  font: 12px moon;
  margin-top: 10px;
  width: 70%;
  margin-bottom: 0;
  padding: 0;
}

.slider-user span {
  float: left;
  font: 9px moon;
  color: #ccc;
  margin-left: 10px;
  margin-top: 3px;
  padding: 0;
}

.slide-show-category {
  padding: 5px 10px;
  background: #31a7fb;
  color: white;
  border-radius: 5px;
  font: 11px moon;
}

.slide-show-category:hover {
  text-decoration: none;
  color: white;
}

.post-list-item {
  width: 100%;
  height: 50%;
  background: url(../images/38127.jpg);
  background-size: cover;
  position: relative;
}

.post-list-item:hover .post-list-item-content {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0,
    rgba(8, 76, 77, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.post-list-item-content {
  padding: 30px 15px;
  width: 100%;
  height: 60%;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0,
    rgba(12, 98, 99, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  bottom: 0;
}

.post-item-category {
  /* width: 40px; */
  display: inline-block;
  height: 30px;
  font: 10px moon;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #fff;
  padding: 0 10px;
}

.post-item-category:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}

.post-list-item h3 {
  text-align: left;
  color: #fff;
  font: 21px moon;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}

.post-list-item p {
  float: left;
  margin-right: 10px;
  padding: 0;
  font: 10px moon;
  color: #ccc;
}

.post-list-item span {
  float: right;
  margin-right: 10px;
  padding: 0;
  font: 10px moon;
  color: #666;
}

.post-list-item svg {
  margin-left: 5px;
}

.welcome-to-site {
  margin: 2rem 0;
  height: 350px;
  background: url("../images/welcome-background.jpg");
  background-size: cover;
  padding: 50px;
  /* border-radius: 10px; */
}

.welcome-to-site h2 {
  text-align: left;
  font: 33px moon;
  color: #31a7fb;
}

.welcome-to-site p {
  width: 55%;
  float: left;
  color: #fff;
  font: 12px moon;
  line-height: 25px;
}

.welcome-to-site a {
  float: left;
  margin: 0 5px;
}

.post-item {
  width: 100%;
  height: auto;
  margin: 10px 0;
  background-color: #151515;
  box-shadow: 0 0 5px #111;
  float: left;
}

.post-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* float: right; */
  position: absolute;
  transition: all 0.5s ease;
}

.post-item-image img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.post-item h2 {
  font: 20px moon;
  color: #fff;
  margin: 0;
  text-align: left;
}

.post-item-content {
  float: left;
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
}

.post-item-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.post-item p {
  /* float: left; */
  color: #666;
  font: 11px moon;
  /* padding: 10px 0 0 20px; */
}

.post-item-user img {
  float: left;
}

.post-item-user {
  float: left;
  width: 100%;
  /* margin: 20px 0 0 20px; */
}

.post-item-user h4 {
  font: 11px moon;
  float: left;
  color: #fff;
  width: 100%;
}

.post-category {
  font: 10px moon;
  color: #fff;
  float: left;
  padding: 5px;
  border-radius: 5px;
  background: #1c80c7;
  margin: 5px 0;
}

.post-item-user span {
  float: left;
  font: 9px moon;
  color: rgb(196, 195, 195);
  margin-left: 8px;
  padding: 0;
}

.side-content-item {
  width: 100%;
  height: auto;
  background: #151515;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
}

.side-content-item h5 {
  display: block;
  margin: 10px 0;
  text-align: center;
  font: 16px moon;
  color: #31a7fb;
}

.side-content-item ul li {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.side-content-item h6 {
  font: 11px moon;
  color: #fff;
  display: block;
  width: 100%;
  margin: 0;
}

.side-content-item p {
  font: 9px moon;
  color: #666;
  padding: 0;
  margin: 0;
}

.side-content-item span {
  font: 10px moon;
  margin-right: 5px;
}

.side-content-item span svg {
  margin-right: 2px;
}

footer {
  width: 100%;
  height: 200px;
  background: #151515;
  padding: 0 30px;
}

footer > div {
  height: 100%;
  padding: 30px;
}

footer div h3 {
  display: block;
  text-align: left;
  font: 13px moon;
  color: #fff;
}

footer div p {
  display: block;
  text-align: left;
  font: 10px moon;
  color: #666;
  line-height: 20px;
}

footer div a {
  font-size: 15px;
  margin: 0 5px;
}

footer ul li {
  width: 100%;
  height: auto;
  display: block;
  margin: 5px 0;
}

footer ul li a {
  color: #555;
  font: 10px moon;
}

.subscribe {
  width: 100%;
  height: 40px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

footer form input {
  width: 100%;
  height: 28px;
  background: #262626;
  border: none;
  font: 10px moon;
  color: #fff;
  padding: 0 10px;
}

footer form button {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 28px;
  border: none;
  background: #31a7fb;
  color: #fff;
  font: 9px moon;
}

footer form button:hover {
  background: #1c80c7;
}

.default-nav {
  background: transparent !important;
}

.default-nav svg {
  fill: #fff;
}

/* USER LOGIN AND REGISTER */

.user-box {
  margin: 3rem 0;
}

.user-box h2 {
  display: block;
  text-align: center;
  font: 20px moon;
  color: #fff;
}

.userbox-links {
  text-align: center;
  font: 13px moon;
  line-height: 40px !important;
  display: block;
  width: 100%;
  height: 40px;
}

.wgoogle {
  background: linear-gradient(135deg, #d0021b 0%, #d0021b 100%);
  border-radius: 5px;
  color: white;
}

.wfacebook {
  background: linear-gradient(135deg, #009688 0%, #00bcd4 100%);
  border-radius: 5px;
  color: white;
  margin-top: 5px;
}

.wfacebook:hover {
  background: linear-gradient(135deg, #077267 0%, #00bcd4 100%);
  color: #fff;
}

.user-box .wgoogle:hover {
  background: linear-gradient(135deg, #bb051a 0%, #b80519 100%);
  color: #fff;
}

.user-form input {
  width: 100%;
  background: #181718;
  border: none;
  height: 40px;
  padding: 0 10px;
  color: #fff;
  margin: 10px 0;
  font: 11px moon;
}

.user-form button {
  width: 100%;
  height: 35px;
  font: 11px moon;
  background: #009688;
  color: #fff;
  border: none;
  transition: all 0.5s ease;
}

.user-form button:hover {
  background: #04776c;
  transition: all 0.5s ease;
}

.user-box a {
  display: block;
  text-align: center;
  font: 11px moon;
  color: #fff;
}

.error-msg {
  display: block;
  text-align: center;
  font: 9px moon;
  color: red;
}

#user-option-dropdown {
  background: transparent !important;
  border: none;
}

#user-option-dropdown img {
  width: 50px;
  border-radius: 100%;
}

.user-dropdown-menu {
  min-width: 15em;
  background-color: #222 !important;
}

.user-dropdown-menu .dropdown-item:hover {
  background-color: #333 !important;
}
.user-dropdown-menu .dropdown-item {
  font: 13px moon;
  color: #fff !important;
  padding: 18px 10px;
}

.user-dropdown-menu .dropdown-item a {
  display: block;
  width: 100%;
  color: #fff;
}

.user-dropdown-menu .dropdown-item svg {
  margin-right: 5px !important;
}

.user-profile-img {
  width: 100px;
}

.user-dropdown-menu .dropdown-item h3 {
  font: 16px moon;
  margin-top: 20px;
}

.user-dropdown-menu .dropdown-item p {
  font: 11px moon;
  color: #ccc;
}

/* NEW POST STYLES */

.new-post {
  padding: 20px;
  /* background: #222; */
  border-radius: 5px;
}
.new-post .title-post {
  width: 100%;
  height: 50px;
  border: none;
  background: transparent;
  font: 20px moon;
  color: #fff;
  margin: 25px 0;
  display: block;
  background: #121212;
  padding: 5px 10px;
  border-radius: 5px;
}

.description-post {
  width: 100%;
  height: 100px;
  border: none;
  background: transparent;
  font: 13px moon;
  color: #fff;
  margin: 25px 0;
  display: block;
  background: #121212;
  padding: 5px 10px;
  border-radius: 5px;
}

.drag-drop-upload {
  width: 100%;
  height: auto;
  border: 2px dashed #121212;
  padding: 50px 30px;
}

.drag-drop-upload h2 {
  display: block;
  text-align: center;
  color: #fff;
  font: 30px moon;
  margin: 0;
}

.upload-cover-box {
  width: 300px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background: rgb(12, 106, 230);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.upload-cover-box h5 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  line-height: 48px;
  color: #fff;
  cursor: pointer;
}

.drag-drop-upload input {
  display: block;
  color: #fff;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.megadraft-block {
  color: #fff !important;
}

.new-post-rules .card {
  background: #121212;
}

.new-post-rules .card-header button {
  text-decoration: none;
  width: 100%;
  text-align: left;
  font: 14px moon;
  color: #00bcd4;
  padding: 0;
}

.new-post-rules .card-body {
  font: 11px moon;
  color: #ccc;
}

.new-post-rules .card-header button:active,
.new-post-rules .card-header button:focus {
  box-shadow: none;
}

.post-tags {
  width: 100%;
  height: 40px;
  background: #131313;
  border-radius: 5px;
}

.post-tags input {
  height: 40px;
  width: 100px;
  background: transparent;
  border: none;
  color: #fff;
  float: left;
  font: 11px moon;
}

.post-tags ul li {
  height: 40px;
  float: left;
  margin: 0 10px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font: 11px moon;
  line-height: 40px;
}

.post-tags ul li button {
  background: transparent;
  border: none;
  padding: 0 3px;
  color: red;
}

.posts-list {
  padding: 20px;
}

.posts-list h2 {
  font: 23px moon;
  color: #fff;
}

.posts-list ul li {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 20px 0;
}


.posts-list ul li h3 {
  display: block;
  text-align: left;
  font: 25px moon;
}
.posts-list ul li h3{
  display: block;
  text-align: left;
  font:25px moon;
  color:#fff;
  margin: 0;
  padding: 0;
}

.posts-list ul li a {
  color: #fff;
}

.posts-list ul li p {
  display: block;
  text-align: left;
  font: 13px Ubuntu;
  border-bottom: 1px solid #666;
  color: #ccc;
  margin: 10px 0;
}
.posts-list ul li p{
  display: block;
  text-align: left;
  font:13px Ubuntu;
  border-bottom: 1px solid #666 ;
  color:#ccc;
  margin:10px 0;
  padding: 0 0 5px 0;
}

.posts-list ul li {
  display: block;
  text-align: left;
  font:11px moon;
  color:#009688;
  font: 11px moon;
  color: #009688;
}

#PostItemDropDown:focus {
  box-shadow: none;
}

#PostItemDropDown::after {
  content: "";
  display: none !important;
}

.PostItemDropDownMenu{
  font:11px moon;
  color:#009688;
}


#PostItemDropDown:focus{
  box-shadow: none;
}

#PostItemDropDown::after{
  content: "";
  display: none!important;
}

.PostItemDropDownMenu{
background: #151515;
}

.PostItemDropDownMenu a {
  color:#fff;
  color: #fff;
font-size: 12px;
}

.PostItemDropDownMenu a:hover {
  background: #181818;
  color:#fff;
}

 

.PostItemDropDownMenu a:hover{
  background: #181818;
  color:#fff;
}

